<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org" 
                   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <link rel="stylesheet" href="../../css/mobile/auth.css">
    <link rel="stylesheet" href="../../css/profile.css">
    <link th:replace="~{components/component :: icon}">
    <title>Trocar Senha</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div></div>
    <div class="box-form">
        <form action="/profile/edit/password" method="post" th:object="${passwordRequest}" id="form" style="margin-top: -150px;">
             
            <h1>Trocar Senha</h1>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="senhaAntiga">Digite sua senha atual:</label>
                <input type="password" th:field="*{senhaAntiga}">
            </div>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="senhaNova">Digite sua senha nova:</label>
                <input type="password" th:field="*{senhaNova}" id="password">
            </div>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="r-password">Repita sua senha nova:</label>
                <input type="password" id="r_password">
            </div>

            <p th:unless="${erro}" class="erro_msg" id="erro_password"></p>
            <p th:if="${erro}" th:text="${erro}" class="erro_msg" id="erro_password"></p>

            <a th:href="@{/reset/password}" style="margin: 20px 0 20px 50px; text-align: start; width: 100%;">Esqueceu a senha?</a>

            <button>Trocar Senha</button>
        </form>
    </div>
    </main>

    <script src="../../js/validations/validationPassword.js "></script>
</body>

</html>