<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org" 
                   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <link rel="stylesheet" href="../../css/mobile/auth.css">
    <link rel="stylesheet" href="../../css/profile.css">
    <link th:replace="~{components/component :: icon}">
    <title>Resetar Senha</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form action="/reset/password" method="post">
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="email">Digite seu email:</label>
                    <input type="email" name="email" required>
                </div>

                <p th:if="${success}" th:text="${success}" class="erro_msg" style="color: rgb(6, 223, 6);"></p>
                <p th:if="${erro}" th:text="${erro}" class="erro_msg"></p>

                <button>Trocar Senha</button>
            </form>
        </div>
    </main>
</body>

</html>