<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <title>Criar Produto</title>
</head>

<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form method="post" action="/admin/produtos/criar" enctype="multipart/form-data" th:object="${produto}" id="form" style="margin-top: 50px; width: 100%; height: auto;">
                
                <h1 style="width: 100%; text-align: center;">Produto</h1>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; height: 75px; margin: 10px 0;">
                    <label for="nome">Nome do produto:</label>
                    <input type="text" th:field="*{name}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; height: 75px; margin: 10px 0;">
                    <label for="amount">Quantidade de produtos:</label>
                    <input type="number" name="amount">
                </div>
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; height: 75px; margin: 10px 0;">
                    <label for="codigo">Código de barras:</label>
                    <input type="text" th:field="*{codigo}" maxlength="13">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></p>
                </div>
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; height: 75px; margin: 10px 0;">
                    <label for="price">Preço:</label>
                   <span>R$</span> <input type="text" th:field="*{price}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; margin: 10px 0;">
                    <label for="foto" style="text-align: center; padding-right: 60px; cursor: pointer;">Enviar foto</label>
                    <input type="file" id="foto" style="display: none;" name="file">
                </div>
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 70%; height: 75px; margin: 10px 0;">
                    <label for="descricao">Descrição</label>
                    <textarea></textarea>
                </div>

                <p th:if="${erro}" th:text="${erro}" class="erro_msg" style="width: 100%; text-align: center;"></p>
    
                <p style="font-size: 10px; margin: 10px 0; padding: 0 20px;">Verifique os dados pois após criar o produto não será possível editá-los, será necessário apagar o produto e criar novamente</p>

                <button>Enviar</button>
            </form>
        </div>
    </main>
</body>

</html>