<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/admin.css">
    <title>Gerenciar Produtos</title>
</head>
<body>
<header th:replace="~{components/component :: header}"></header>
<main>

    <div class="box_search">
        <div style="width: 100%; display: flex; justify-content: end;">
            <button style="width: 50px; margin: 10px 0;" id="criar">Criar</button>
        </div>
        <label for="id_produto">Insira o código de barras do produto:</label>
        <input type="text" id="id_produto" maxlength="13">
        <button id="btnSubmit" style="margin: 10px 0;">Buscar</button>
    </div>

    <div id="resposta" class="resposta" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">

        <div class="box" id="box">
            <div style="width: 100%;">
                <input type="hidden" value="" id="codigo">
                <img src="" class="box_image" id="image">
                <p style="margin: 6px 0">Nome:</p>
                <p id="nome" style="font-size: 13px;"></p>
                <p style="margin: 6px 0">Preço:</p>
                <p id="preco" style="font-size: 13px;"></p>
                <p style="margin: 6px 0">Quantidade</p>
                <p id="quantidade" style="font-size: 13px;"></p>
                <div style="width: 100%; display: flex; justify-content: center; padding-right: 20px;">
                    <button id="btn_del" class="btn_del" style="width: 50px; padding-top: 5px; margin: 10px 0;">
                        <img src="../icons/trash-solid.png" width="20" style="filter: brightness(0) invert(1);">
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

<script src="../js/functions/others/popup.js"></script>
<script src="../js/functions/admin/generateProdutosAdmin.js"></script>
<script src="../js/functions/admin/criarProdutos.js"></script>
</body>
</html>