<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/pedidos.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link th:replace="~{components/component :: icon}">
    <title>Gerenciar Pedidos</title>
</head>

<body>
    <header th:replace="~{components/component :: header}"></header>
    <main style="width: 100%; display: grid; justify-content: center;">

        <select id="statusSelect" style="margin: 20px 0; text-align: center;">
            <option value="PEDIDO">PEDIDO</option>
            <option value="TRANSITO">TRANSITO</option>
            <option value="ENTREGUE">ENTREGUE</option>
            <option value="CANCELADO">CANCELADO</option>
        </select>

        <table style="width: 1000px;">
            <thead>
                <td>Nome:</td>
                <td>Telefone:</td>
                <td>Valor:</td>
                <td>Status:</td>
                <td>Quando:</td>
                <td></td>
            </thead>
        </table>
    </main>

    <script src="../js/functions/admin/createBoxPedidos.js"></script>
    <script src="../js/functions/admin/getPedidos.js"></script>
    <script src="../js/pedidos.js"></script>
</body>
</html>