<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link th:replace="~{components/component :: icon}">
    <title>Gerenciar Usuários</title>
</head>
<body>
<header th:replace="~{components/component :: header}"></header>
<main>

    <div class="box_search">
        <label for="id_produto">Insira o id do usuário:</label>
        <input type="text" id="id_produto" maxlength="13" required>
        <button id="btnSubmit" style="margin: 10px 0;">Buscar</button>
    </div>

    <div id="resposta" class="resposta" style="width: 100%; display: flex; justify-content: center;">

    </div>
</main>

<script src="../js/functions/admin/usuarios/createBoxUsuarios.js"></script>
<script src="../js/functions/admin/usuarios/getUsuarios.js"></script>
</body>
</html>