<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link th:replace="~{components/component :: icon}">
    <title>Pedido Falhou</title>
</head>
<body>

    <header th:replace="~{components/component :: header}"></header>

    <main>
      <h1>Ocorreu algum erro ao fazer o pagamento. Tente novamente mais tarde</h1>
    </main>

    <script>
      setTimeout(() => {
        window.location.href = "/profile"
      }, 5000)
    </script>
</body>
</html>