<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/carrinho.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <title>Pagamento</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>

    <p id="text">Se você não foi redirecionado para a página de pagamento, <a href="" id="link">clique aqui</a></p>

    <script src="../../js/functions/others/carrinho.js"></script>
    <script src="../../js/payment/payment.js"></script>
</body>

</html>