<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/carrinho.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <title>PIX</title>
</head>

<body>
    <header th:replace="~{components/component :: header}"></header>
    <main style="width: 100%; display: flex; justify-content: center;">
        <div class="car_1">
        </div>
        <div class="car_2">
            <h1 style="width: 100%; padding-left: 30px;">Checkout</h1>

            <div id="carrinho">

                <form id="form-checkout" action="/process_payment" method="post">
                    <div>
                        <div>
                            <label for="payerFirstName">Nome</label>
                            <input id="form-checkout__payerFirstName" name="payerFirstName" type="text">
                        </div>
                        <div>
                            <label for="payerLastName">Sobrenome</label>
                            <input id="form-checkout__payerLastName" name="payerLastName" type="text">
                        </div>
                        <div>
                            <label for="email">E-mail</label>
                            <input id="form-checkout__email" name="email" type="text">
                        </div>
                        <div>
                            <label for="identificationType">Tipo de documento</label>
                            <select id="form-checkout__identificationType" name="identificationType"
                                type="text"></select>
                        </div>
                        <div>
                            <label for="identificationNumber">Número do documento</label>
                            <input id="form-checkout__identificationNumber" name="identificationNumber" type="text">
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="hidden" name="transactionAmount" id="transactionAmount" value="100">
                            <input type="hidden" name="description" id="description" value="Nome do Produto">
                            <br>
                            <button type="submit">Pagar</button>
                        </div>
                    </div>
                </form>

            </div>

            <h1 style="width: 100%; padding-left: 20px;">Total: <span id="total"></span></h1>

        </div>
    </main>

    
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="../../js/pix.js"></script>
    <script src="../../js/functions/others/carrinho.js"></script>
    <script src="../../js/carrinho.js"></script>
</body>

</html>