<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/components.css">
    <title>Pedido Enviado</title>
</head>
<body>

    <header th:replace="~{components/component :: header}"></header>

    <main>
      <h1>Enviamos seu pedido para nossos vendedores! Dentro de 24h úteis iremos retornar a resposta do seu pedido</h1>
    </main>

    <script src="js/header.js"></script>
    <script src="js/home.js"></script>
</body>
</html>