<!DOCTYPE html>
<html lang="pt_BR"  xmlns:th="https://www.thymelaef.org"
                    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:fragment="icon" rel="shortcut icon" href="../icons/icon.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header">
        <div style="display: flex;"> 
            <a th:href="@{/}">Início</a>
            <a th:href="@{/carrinho}">Carrinho</a>
            <div sec:authorize="isAuthenticated()" style="display: flex;">
                <a th:href="@{/profile/pedidos}">Pedidos</a>
                <a th:href="@{/profile/reembolsos}">Reembolsos</a>
            </div>
        </div>
        
        <div>
            <div sec:authorize="isAuthenticated()" style="display: flex;">
                <a th:href="@{/profile}">Perfil</a>
                <a th:href="@{/logout}">Sair</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}">Login</a>
                <a th:href="@{/auth/register}">Criar Conta</a>
            </div>
        </div>
        
    </header>
</body>
</html>