<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <title>Carrinho</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h1>Titulo</h1>
                <p>descrição</p>
                <h3>R$99,99</h3>
                <button>Adicionar ao carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
    </main>
</body>
</html>