<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/produtos.css">
    <link rel="stylesheet" href="../css/auth.css">
    <title>Carrinho</title>
</head>
<body>

    <!-- Exibe mensagens -->
    <span id="msg" class="msg_link"></span>

    <header th:replace="~{components/component :: header}"></header>
    <main>

        <!-- Foto do produto -->
        <div class="div_img">
            <img th:src="@{${produto.photo}}">
        </div>

        <!-- Informações do produto -->
        <div class="div_produto">

            <!-- Nome, descrição, preço e quantidade-->
            <div style="width: 100%;">
                <h1 th:text="${produto.name}" style="width: 100%; text-align: start;  white-space: normal; overflow-wrap: break-word; margin: 5px 0; font-size: 30px;"></h1>
                <p th:text="${produto.description ?: 'Sem descrição'}" style="margin: 5px 0; width: 100%; text-align: start;  white-space: normal; overflow-wrap: break-word; font-size: 15px;"></p>
                <p style="font-size: 15px;">Quantidade: <span style="font-size: 14px;" th:text="${quantidade}"></span></p>
                <p style="font-size: 15px;">Código de barras: <span th:text="${produto.codigo}" style="font-size: 14px;" id="codigo"></span></p>
                <h2 th:text="'R$ ' + ${#numbers.formatDecimal(produto.price, 0, 'POINT', 2, 'COMMA')}" style="margin: 5px 0; font-size: 22px;"></h2>
            </div>

            <!-- Botões de carrinho e comprar -->
            <div style="display: flex; width: 100%;">
                
                <button id="comprar" style="background-color: #20bc15; width: 100%;">Finalizar Compra</button>

                <button style="background-color: #ee7308; padding-top: 6px;" id="carrinho">
                    <img src="../icons/cart-shopping-solid.png" width="30" style="filter: brightness(0) invert(1);">
                    <span id="amountCar" style="font-size: 15px;">0</span>
                </button>

            </div>

            <!-- Compartilhar -->
            <div>
                <div style="display: flex; flex-wrap: wrap;">
                    <img src="../icons/share-nodes-solid.png" width="30" style="filter: brightness(0) invert(1); cursor: pointer;" id="compartilhar">
                </div>
            </div>
        </div>
        
    </main>

    <script src="../js/functions/others/carrinho.js"></script>
    <script src="../js/produto.js"></script>
</body>
</html>