<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Início</title>
</head>
<body>

    <header th:replace="~{components/component :: header}"></header>

    <main  style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap; padding-top: 50px;">
        <div class="container_destaques">
            <h1>Destaques</h1>
            <div class="box_product">
                <img src="" class="box_product_img">
                <p>Nome</p>
                <a href="" class="box_product_buy">R$ 32,00</a>
            </div>
        </div>

        <div class="container_destaques" style="background-color: transparent;">
            <h1>Para Você</h1>
            <div class="box_product" style="outline: 2px solid var(--box-form);">
                <img src="" class="box_product_img">
                <p>Nome</p>
                <a href="" class="box_product_buy">R$ 32,00</a>
            </div>
        </div>

        <div class="container_destaques">
            <h1>Outros Produtos</h1>
            <div class="box_product">
                <img src="" class="box_product_img">
                <p>Nome</p>
                <a href="" class="box_product_buy">R$ 32,00</a>
            </div>
        </div>
    </main>

    <script src="js/header.js"></script>
</body>
</html>