<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/mobile/components.css">
    <link rel="stylesheet" href="css/home.css">
    <link th:replace="~{components/component :: icon}">
    <title>Início</title>
</head>
<body>

    <header th:replace="~{components/component :: header}"></header>

    <div style="width: 100%; display: flex; justify-content: center; position: absolute; top: 70px;">
        <input type="search" id="busca" class="busca" placeholder="O que deseja buscar?"> 
        <button id="btnBuscar" style="background-color: var(--box-form); margin-left: -27px; padding-top: 3px; cursor: pointer;">
            <img src="icons/magnifying-glass-solid.png" width="20" style="filter: brightness(0) invert(1); ">
        </button>
    </div>

    <main id="main" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">
        <div class="container_destaques" id="produtos">

        </div>
    </main>

    <script src="js/header.js"></script>
    <script src="js/home.js"></script>
</body>
</html>