<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/mobile/auth.css">
    <link th:replace="~{components/component :: icon}">
    <title>Login</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form action="/auth/login" method="post" th:object="${loginRequest}" style="margin-top: -50px;">
                   
                <h1>Login</h1>

                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" required>
                <br>

                <label for="senha">Senha:</label>
                <input type="password" th:field="*{senha}" required>
                <p th:if="${erro}" th:text="${erro}" class="erro_msg"></p>

                <a th:href="@{/reset/password}" style="margin: 20px 0 20px 50px; text-align: start; width: 100%;">Esqueceu a senha?</a>
                <button>Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>