<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/auth.css">
    <title>Login</title>
</head>
<body>
    <header th:replace="components/component :: header"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form action="" method="post">
                <label for="">Email:</label>
                <input type="email">
                <br>
                <label for="">Senha:</label>
                <input type="password" name="" id="">
                <a href="" style="margin: 20px 0 20px 50px; text-align: start; width: 100%;">Esqueceu a senha?</a>
                <button>Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>