<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <title>Criar Conta</title>
</head>

<body>
    <header th:replace="components/component :: header"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form action="/auth/register" method="post" style="height: auto;" th:object="${usuario}">

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="">Nome:</label>
                    <input type="text" th:field="*{name}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="">Email:</label>
                    <input type="email" th:field="*{email}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="">Senha:</label>
                    <input type="password" th:field="*{password}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="">Repita a Senha:</label>
                    <input type="password">
                    <p class="erro_msg" style="margin: -10px;" ></p>
                </div>

                <a th:href="@{/auth/login}" style="margin: 20px 0 20px 50px; text-align: start; width: 100%;">Já tenho
                    uma conta</a>
                <button>Criar Conta</button>
            </form>
        </div>
    </main>
</body>

</html>