<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link th:replace="~{components/component :: icon}">
    <title>Criar Conta</title>
</head>

<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div></div>
        <div class="box-form">
            <form action="/auth/register" method="post" style="height: auto;" id="form" th:object="${usuario}">

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="name">Nome:</label>
                    <input type="text" th:field="*{name}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="email">Email:</label>
                    <input type="email" th:field="*{email}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                
                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="telefone">Telefone:</label>
                    <div style="width: 100%;">
                       +55 <input type="text" th:field="*{telefone}">
                    </div>      
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="password">Senha:</label>
                    <input type="password" th:field="*{password}">
                    <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>

                <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                    <label for="r_password">Repita a Senha:</label>
                    <input type="password" id="r_password">
                </div>

                <p th:unless="${erro}" th:text="${erro}" class="erro_msg" id="erro_password"></p>
                <p th:if="${erro}" th:text="${erro}" class="erro_msg"></p>

                <a th:href="@{/auth/login}" style="margin: 20px 0 20px 50px; text-align: start; width: 100%;">Já tenho
                    uma conta</a>
                <button id="btn_submit">Criar Conta</button>
            </form>
        </div>
    </main>

    <script src="../js/validations/validationPassword.js"></script>

</body>

</html>