@import url("globals.css");

.car_1{

    display: flex;
    width: 50%;
    padding-top: 80px;
}
.car_2{

    width: 50%;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--box-form);
}

.box_carrinho{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5px 0;
}
.box_quantidade_produto, .box_nome_produto, .box_btn_carrinho, .box_preco_produto{
    
    height: 80px;
    display: flex;  
    align-items: center;
    width: auto;
}
.box_img_carrinho{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
    background-color: var(--background);
    padding: 5px;
}

#carrinho{
    overflow-y: auto;
    height: 400px;
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

