@import url("globals.css");

/* Estilo para exibir mensagens de erro */
.erro_msg{
    color: rgb(192, 53, 53);
    margin: 20px 0;
}

.btn_del{
    width: 200px;
    background-color: brown;
    margin: 10px 0;
    transition: .3s;
}
.btn_del:focus, .btn_del:hover{
    background-color: rgb(97, 5, 5);
}

/* Template da caixa dos produtos/ */
.box_product{
    width: 200px;
    height: 300px;
    background-color: var(--background);
    border-radius: 5px;
    margin: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.box_product_img{

    background-color: var(--box-form);
    width: 95%;
    height: 150px;
    border-radius: 5px;
}

.box_product_buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: var(--box-form);
    border-radius: 5px;
    text-decoration: none;
}