@import url("globals.css");

header{
    background-color: var(--background);
}
.container_destaques{
    max-width: 1200px;
    height: auto;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin-top: 110px; 
}
.busca{
    background-color: var(--box-form);
    padding: 5px;
    border-radius: 10px;
    width: 60%;
    min-width: 250px;
    height: 40px;
}
.busca::placeholder{
    color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    font-size: 15px;
}