@import url("./globals.css");

main{

    width: 100%;
    display: flex;
    justify-content: center !important;
}
.div_img{
    width: auto;
    height: 600px;
}
.div_img img {

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 600px;
}   
.div_produto{
    max-width: 600px;
    background-color: var(--box-form);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.msg_link{

    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(50, 231, 50, 0.514);
    border-radius: 10px;
    margin: 10px 0;
    font-size: 14px;
}