@import url("../css/globals.css");

header{
    background-color: transparent;
}
main{
    flex-wrap: wrap;
    justify-content: center;
}
.box_profile_1{
    width: auto;
    height: auto;
    background-color: var(--box-form);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
}
.box_profile_1 div div{
    width: auto;
    margin: 0 10px;
}
.img_profile{
    transition: .3s;
}
.img_profile:hover{
    transform: scale(1.1);
}
p{
    font-size: 14px;
}

img{
    filter: invert();
}