<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/globals.css">
    <link rel="stylesheet" href="../../../css/components.css">
    <title>E-mail enviado</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main>
        <div>
            <p th:if="${success}" th:text="${success}"></p>
            <p th:if="${erro}" th:text="${erro}"></p>
        </div>
    </main>
</body>
</html>