<!DOCTYPE html>
<html lang="pt_BR"  xmlns:th="https://www.thymelaef.org"
                    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/carrinho.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <link th:replace="~{components/component :: icon}">
    <title>Carrinho</title>
</head>
<body>
    <header th:replace="~{components/component :: header}"></header>
    <main style="width: 100%; display: flex; justify-content: center;">
        <div class="car_1">
            <h1 style="width: 100%; padding-left: 30px;">Sugestões</h1>
        </div>
        <div class="car_2">
            <h1 style="width: 100%; padding-left: 30px;">Carrinho</h1>

            <div id="carrinho">

            </div>

            <h1 style="width: 100%; padding-left: 20px;">Total: <span id="total"></span></h1>
            <div sec:authorize="isAnonymous()" style="width: 100%; display: flex; justify-content: center;">
                <button id="login">Fazer Login</button>
            </div>
            <div sec:authorize="isAuthenticated()" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">
                <button id="buy">Finalizar Compra</button>
                <div id="address_msg" style="display: none; width: 100%; text-align: center;">
                    <p class="erro_msg">Você precisa cadastrar um endereço, <a th:href="@{/profile/edit/address}">clique aqui para cadastrar</a></p>
                </div>
            </div>
        </div>
    </main>
    
    <script src="../../js/payment/payment.js"></script>
    <script src="../../js/functions/others/carrinho.js"></script>
    <script src="../../js/carrinho.js"></script>
</body>
</html>