<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="https://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/globals.css">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/profile.css">
    <link rel="stylesheet" href="../../css/auth.css">
    <title>Editar Endereço</title>
</head>
<body>
<header th:replace="~{components/component :: header}"></header>
<main>
    <div></div>
    <div class="box-form">
        <form action="/profile/edit/address" method="post" th:object="${address}" style="margin-top: -150px;">
            <h1>Endereço</h1>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="cidade">Cidade:</label>
                <input type="text" th:field="*{cidade}">
                <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></p>
            </div>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="bairro">Bairro:</label>
                <input type="text" th:field="*{bairro}">
                <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></p>
            </div>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="rua">Rua:</label>
                <input type="text" th:field="*{rua}">
                <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}"></p>
            </div>

            <div style="display:flex; justify-content: center; flex-wrap: wrap; width: 100%; height: 75px; margin: 10px 0;">
                <label for="cep">CEP:</label>
                <input type="text">
                <p class="erro_msg" style="margin: -10px;" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></p>
            </div>

            <p th:if="${erro}" th:text="${erro}" class="erro_msg"></p>

            <button>Enviar</button>
        </form>
    </div>
</main>
</body>
</html>