<!DOCTYPE html>
<html lang="pt_BR"  xmlns:th="https://www.thymelaef.org"
                    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Meu Perfil</title>
</head>
<body>
<header th:replace="~{components/component :: header}"></header>
<main>
    <div class="box_profile_1">
        <h1 style="width: 100%;">Meus Dados</h1>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px; width: 100%;">
            <div>
                <h4>Nome:</h4>
                <p sec:authentication="principal.name"></p>
                <br>
                <h4>E-mail:</h4>
                <p sec:authentication="principal.email"></p>
                <br>
                <h4>Telefone:</h4>
                <p sec:authentication="principal.telefone"></p>
                <br>
                <a th:href="@{/profile/edit}" style="display: flex; width: 100%; margin-bottom: 15px;">Editar Dados</a>
                <a th:href="@{/profile/edit/password}" style="display: flex; width: 100%;">Alterar senha</a>
                <button id="admin" style="margin: 20px 0 0 0; width: 200px;">Admin</button>
                <br>
                <button class="btn_del" id="del" style="margin-top: 20px;">Apagar Conta</button>
            </div>
            <div>
                <h4>Cidade:</h4>
                <p th:text="${address.cidade ?: '-'}"></p>
                <br>
                <h4>Bairro:</h4>
                <p th:text="${address.bairro ?: '-'}"></p>
                <br>
                <h4>Rua:</h4>
                <p th:text="${address.rua ?: '-'}"></p>
                <br>
                <h4>CEP:</h4>
                <p th:text="${address.cep ?: '-'}"></p>
                <br>
                <h4>Número:</h4>
                <p th:text="${address.numero ?: '-'}"></p>
                <br>
                <a th:href="@{/profile/edit/address}">Editar Endereço</a>
            </div>
        </div>
    </div>

    <div class="box_profile_1">
        <h1 style="width: 100%;">Produtos</h1>
        <div style="width: 100%; display: flex; justify-content: space-around; padding: 10px;">
            <a th:href="@{/carrinho}">
                <img src="../icons/cart-shopping-solid.png"  width="50" class="img_profile" title="Carrinho">
            </a>
            <a th:href="@{/profile/pedidos}">
                <img src="../icons/bag-shopping-solid.png"  width="40" class="img_profile" title="Pedidos">
            </a>
        </div>
            
    </div>
</main>

<div class="popup" id="popup">
    <p id="close" style="width: 100%; margin-left: 98.5%; margin-top: -10px; cursor: pointer; font-size: 20px;">x</p>
    <p style="margin: 10px 0;">Você está prestes a excluir sua conta permanentemente. Para confirmar essa ação, insira sua senha. Todos os seus dados
    serão apagados de forma irreversível, e essa operação não poderá ser desfeita. Tem certeza de que deseja continuar?</p>
    <input type="password" id="password" style="width: 50%;">
    <p class="erro_msg" id="erro_password"></p>
    <button  class="ben_del" id="submit_del" style="margin: 0;">Apagar Conta</button>
</div>

<script src="../js/functions/others/popup.js"></script>
<script src="../js/profile.js"></script>

<script>
    document.getElementById("admin").addEventListener("click", function(){
        window.location.href = "/admin";
    })
</script>
</body>
</html>