<!DOCTYPE html>
<html lang="pt_BR"  xmlns:th="https://www.thymelaef.org"
                    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globals.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Meu Perfil</title>
</head>
<body>
<header th:replace="~{components/component :: header}"></header>
<main>
    <div class="box_profile_1">
        <h1 style="width: 100%;">Meus Dados</h1>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px; width: 100%;">
            <div>
                <h4>Nome:</h4>
                <p sec:authentication="principal.name"></p>
                <br>
                <h4>E-mail:</h4>
                <p sec:authentication="principal.email"></p>
                <br>
                <a th:href="@{/profile/edit/password}" style="display: flex; width: 100%;">Alterar senha</a>
                <button class="btn_del" style="margin-top: 20px;">Apagar Conta</button>
            </div>
            <div>
                <h4>Cidade:</h4>
                <p th:text="${address.cidade ?: '-'}"></p>
                <br>
                <h4>Bairro:</h4>
                <p th:text="${address.bairro ?: '-'}"></p>
                <br>
                <h4>Rua:</h4>
                <p th:text="${address.rua ?: '-'}"></p>
                <br>
                <h4>CEP:</h4>
                <p th:text="${address.cep ?: '-'}"></p>
                <br>
                <a th:href="@{/profile/edit/address}">Editar Endereço</a>
            </div>
        </div>
    </div>

    <div class="box_profile_1">
        <h1 style="width: 100%;">Produtos</h1>
        <div style="width: 100%; display: flex; justify-content: space-around; padding: 10px;">
            <a href="">
                <img src="../icons/cart-shopping-solid.png"  width="50" class="img_profile" title="Carrinho">
            </a>
            <a href="">
                <img src="../icons/star-solid.png"  width="50" class="img_profile" title="Favoritos">
            </a>
        </div>
            
    </div>
</main>
</body>
</html>